[Desktop Entry]
Name=Mr. Rescue
Comment=Mr. Rescue is an arcade styled 2d action game centered around evacuating civilians from burning buildings.
Exec=/usr/bin/love /usr/share/mrrescue/mrrescue.love
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false
